@import "tailwindcss";

.backdrop-blur-lg {
  backdrop-filter: blur(16px);
}

.bg-white\/95 {
  background-color: rgba(255, 255, 255, 0.95);
}

@theme{
  --color-primary: #2563eb;
  --color-secondary: #1d4ed8;
}